{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<body class="bg-light">
<main>
    <section id="room-name-wrapper" class="d-flex justify-content-between bg-info-subtle">
        <img src="{% static 'images/logo.png' %}" id="logo-invideo" alt="">
        <p ><b><span id="room-name"></span></b></p>
    </section>

    <section id="video-streams" class="shadow-sm">


    </section>

    <section id="controls-wrapper">

        <div class="icon-wrapper">
            <img src="{% static 'images/mic.png' %}" alt="" id="mic-btn" class="control-icon">
        </div>

        <div class="icon-wrapper">
            <img src="{% static 'images/cam.png' %}" alt="" id="cam-btn" class="control-icon">
        </div>

        <div class="icon-wrapper">
            <img src="{% static 'images/leave.png' %}" alt="" id="leave-btn" class="control-icon">
        </div>

    </section>
</main>
</body>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.14.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>

{% endblock content %}